In [ ]:
x =50
print(x)

50

In [ ]:
# variable is case sensitive
total = 55
TOTAL = 32
print(total)
print(TOTAL)

55
32

In [ ]:
a = 10      #If two different variable has same value then it's id will be same
b = 10
print(type(a))   # to write type of a
print(id(a))
print(id(b))

<class 'int'>
11531200
11531200

In [ ]:
a = 1.2
print(a)
print(type(a))
print(int(a))    #This is typecasting means change of datatype

1.2
<class 'float'>
1

In [ ]:
a = 3+2j
b = 6+1.5j
c = a+b
print(type(a))
print(c)
print(int(a))    #We can not typecast complex into any datatype it gives error

<class 'complex'>
(9+3.5j)

TypeError: ignored

In [ ]:
a = 10
b = 20
c = a<b
print(c)
print(type(c))

True
<class 'bool'>

In [ ]:
c = True + True  #Python interpretor internally writes true as 1 and false as 0
d = True + False
print(type(c))
print(int(c))
print(int(d))

<class 'int'>
2
1

In [ ]:
A = "Artificial Intelligence"  # String must me inclosed in " " or ' '
B = "20"
a = ''' My name
           is 
             Abhijeet '''  # Multiline string should be written in triple single quote ('''  ''') or double quote ("""  """) 
print(type(A))
print(type(B))
print(a)
print(int(B))     # We can do string 20 to int 20 by typecasting

<class 'str'>
<class 'str'>
 My name
           is
             Abhijeet
20

#**STRING SLICING** - Make pieces of string

In [ ]:
a = "Artificial Intelligence"
print(a[0])            # In string slicing counting done from A^0 r^1 t^2.....
print(a[3])
print(a[-5])           # In -ve index means backward direction left to right e^-1 c^-2 n^-3 e^-4 g^-5
print(a[2:6])          # Starting from 2 to 5 not including 6
print(a[:6])           # Starting from 0 to 5 not including 6
print(a[:])            # Print all letters

A
i
g
tifi
Artifi
Artificial Intelligence

In [ ]:
a = "Artificial Intelligence"
print(a[2:8:3])       # This is stepping means write word from 2 to 8 by gap of 3 (2,5)
print(a[::-1])        # This is very important string reverse writtng

ti
ecnegilletnI laicifitrA

# **Typecasting** - We convert one datatype to another datatype by **datatype(variable)**

In [ ]:
x = 1.999
print(type(x))
print(int (x))     # Float to integer
print(str(x))       # Float to string
print(bool(x))       # Float to boolean

<class 'float'>
1
1.999
True

In [ ]:
x = True
y = False
print(type(x))
print(type(y))
print(int(x))          # boolean to integer
print(int(y))
print(float(x))        # boolean to float
print(float(y))
print(complex(x))      # boolean to complex
print(complex(y))

<class 'bool'>
<class 'bool'>
1
0
1.0
0.0
(1+0j)
0j

In [ ]:
a = complex(True,False)
b = complex(10,-2)
c = complex(5,1.3)
print(type(a))
print(a)
print(b)
print(c)

<class 'complex'>
(1+0j)
(10-2j)
(5+1.3j)

In [ ]:
a = bool(0)       #False
b = bool(1)       #True
c = bool(-1)      #True 
d = bool(100)     #True (Value other than zero are true)
e = bool(0.0)     #False
f = bool(3.8)     #True
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

False
True
True
True
False
True

**All fundamental datatypes (int,float,bool,complex,str) are immutable means once object(variable) created can not modified or create new object.**

In [ ]:
a = "Artificial"
a[0] = B  # I am saying A letter by B. But string is immutable. Following error occurs

TypeError: ignored

In [ ]:
a = [10,20,30,40,10]      # This is list which is mutable means list[10,20,30,40,10] 10 is replaced by 90 list[90,20,30,40,10] 
a[0] = 90
print(a)

[90, 20, 30, 40, 10]

### **6] Byte datatype**

**Byte datatype represents group of byte integer numbers just like as array**

In [ ]:
a = [10,1,3,200]     
print(type(a))        # Python reads a as list datatype

b = bytes(a)          # We have to explicitly mention datatype as bytes
print(type(b))        # Byte datatype contains only integer numbers ranging 0-256 excluding 256 upto 255

<class 'list'>
<class 'bytes'>

In [ ]:
a = bytes[10,20,30,60]   # Byte datatypes are immutable
a[1] = 90

TypeError: ignored

# **7] Bytearray Datatype**

**It is same as bytes datatype but it's elements can be modified.**

In [ ]:
a = [10,30,40,70,255,10]
b = bytearray(a)
b[0] = 50
print(b)                        # We get output means bytearray is mutable but to see output we have use for loop
for i in b:
  print(i)                      # Before print there should be space in for loop it is called indentation.

bytearray(b'2\x1e(F\xff\n')
50
30
40
70
255
10

# **8] List Datatype**

**Represents group of values as single entity where insertion order required to preserve and duplicates are allowed then we should go for list datatype.**

1.   Insertion order is preserved.  (Means Sequence of elements can not changed)
2.   Heterogenous objects are allowed.(int,float,str,bool)
3.   Dupliacates are allowed. (e.g a=[10,20,3.0,"Abhi",10)
4.   Growable in nature.  (By method append and remove)
5.   Elements enclosed in square brackets.

In [ ]:
list1 = [10,12,1.9,30,10,"Abhi",True]   # Heterogenous(Different datatype collection)
print(type(list1))
list1[0] = 40                           # List datatype is mutable means 10 is replaced by 40
print(list1)

<class 'list'>
[40, 12, 1.9, 30, 10, 'Abhi', True]

In [ ]:
list1 = [20,40,50,2.5,"bac",False]
list1.append(100)                   # list1 is growable we can add element 100 by method append
print(list1)

[20, 40, 50, 2.5, 'bac', False, 100]

In [ ]:
list1 = [20,40,20,50,2.5,"bac",False]
list1.remove(20)                       # There are two 20 elements but it remove first 20 element
print(list1)

[40, 20, 50, 2.5, 'bac', False]

In [ ]:
list1 = [20,40,20,50,2.5,"bac",False]
list2 = list1 * 2                       # List is duplicable
print(list2)

[20, 40, 20, 50, 2.5, 'bac', False, 20, 40, 20, 50, 2.5, 'bac', False]

# **9] Tuple Datatype**

1.   Exactly same as list but it is **immutable**.
2.   Tuple represented by parenthesis**( )**.
3.   Tuple is read only version of list.

In [ ]:
a = (10,20,50,1.2,"Abhi",True)  # Tuple is immutable
a[1]= 40
print(a)

TypeError: ignored

# **10] Range Datatype**


1.   Range datatype represents a sequence of numbers.
2.   The elements presents in range data type are not **modified**
3.   Range is **immutable.**

In [ ]:
a =range(10)
print(a)
for x in a:
  print(x)

range(0, 10)
0
1
2
3
4
5
6
7
8
9

In [ ]:
a = range(10,20)
for x in a:
  print(x)

10
11
12
13
14
15
16
17
18
19

In [ ]:
a = range(10,20,2)
for x in a:
  print(x)
print(a[0])     # To access elements present in range datatype by using index.

10
12
14
16
18
10

In [ ]:
a = list(range(10,20))   # We can create list datatype from range datatype 
print(a)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# **11] Set Datatype**

If we want to represent a group of values **without duplicates** where **order is not important** then we should go for set datatype.


1.   **Insertion** order is **not** preserved.
2.   **Duplicates** are **not** allowed.
3.   **Hetrogenous** objects are **allowed**.
4.   **Index concepts** is **not** applicable.
5.   It is **mutable** collection.
6.   **Growable** in nature.
7.   Represents by curl brackets **{ }**.

In [ ]:
set1 = {10,20,1.25,"Data",True,"Mohan"}  # Heterogenous , represented by { }
set1[1] = 60                             # Index concepts not allowed

TypeError: ignored

In [ ]:
set1 = {10,20,30,1.25,10,20,"data","data"}
print(set1)                                 #Duplicates are not allowed and order is not fixed
set1.add("Mohan")                                #Growwable in nature.
print(set1)
set1.remove(30)
print(set1)

{1.25, 'data', 10, 20, 30}
{1.25, 'data', 10, 'Mohan', 20, 30}
{1.25, 'data', 10, 'Mohan', 20}

# **12] Frozenset Datatype**

1.   It is exactly **same as** set data type except that it is **immutable**.
2.   Hence we **can not** perform **add** and **remove** functions.

In [ ]:
s = {10,20,30,"data",1.5,True}
fs = frozenset(s)
print(type(fs))

<class 'frozenset'>

# **13] Dictionary Datatype**

1.   If we want to represent group fo values as **key - value pairs** then we should go for dict. data type.
2.   **Duplicate keys** are **not** allowed but **values** can be **duplicated.** (If we are trying to insert an entry with duplicate key then old value will be replaced with new value.)
3.   Dict. is **mutable** and the **order** **won't** be preserved.

In [ ]:
d = {101:"Manoj",102:"Ram",103:"Sam",104:"Amol"}  
d[101] = "Rohit"
d

{101: 'Rohit', 102: 'Ram', 103: 'Sam', 104: 'Amol'}

In [ ]:
d = {}             # We can create empty dictionary.
d['a'] = "apple"   # We can add key-value pairs.
d['b'] = "banana"  # We can add key-value pairs.
print(d)

{'a': 'apple', 'b': 'banana'}

# **14] None Datatype**

No value associated

In [ ]:
a = None
print(a)
print(type(a))

None
<class 'NoneType'>

# **OPERATORS**

1.   Arithmatic Operator
2.   Relational Operator
3.   Logical Operator
4.   Bitwise Operator
5.   Assignment Operator
6.   Special Operator


**1.   Arithmatic Operator**

*   Addition (+)
*   Subtraction (-)
*   Multiplication (*)
*   Division (/)
*   Modulo (%)
*   Floor division operaor (//)
*   Exponent or power (**)

In [ ]:
a = 15
b = 2
print('a+b =',a+b)
print('a-b =',a-b)
print('a*b =',a*b)
print('a/b =',a/b)
print('a%b =',a%b)      # Modulo = Remainder
print('a//b =',a//b)    # Floor = Divisor
print('a**b =',a**b)    # Exponent = 15^2 =225

a+b = 17
a-b = 13
a*b = 30
a/b = 7.5
a%b = 1
a//b = 7
a**b = 225

**2. Relational Operators** - <,>,<=,>=

In [ ]:
a = 10
b = 20
print("a<b=",a<b)
print("a>b=",a>b)
print("a<=b=",a<=b)
print("a>=b=",a>=b)

a<b= True
a>b= False
a<=b= True
a>=b= False

**3. Equality Operator** - ==,!=

In [ ]:
a =10
b =20
print(a==b)
print(a ==10)
print(True == True == True)
print(a!=b)

False
True
True
True

**4. Logical Operators** : and,or,not

*   and - Both argument is true then only result is true.
*   or - If only one argument is true then only result is true.
*   not - Complementary

In [ ]:
a = 10 and 20    #If x evaluates to false return x otherwise return y (x and y)
print(a)         #(True and True)
b = 0 and 10     # (False and True)
print(b)

20
0

In [ ]:
a = 20 or 32      #If x evaluates true then result is x otherwise result is y (x or y)
print(a)          #(True or True)
b = 0 or 25       #(False or True)
print(b)

20
25

In [ ]:
a = 20            #If x evalutes true then result is false
print(not a)
b = 0
print(not b)

False
True

**5. Bitwise and Shift Operator**

*   Applicable to integer and boolaen datatype.
*   Error if applicable to other datatype.
*   &,|,^,~,<<,>>
*   print(4 & 5)  valid
*   print(2.5 | 1.1)  Error
*   print(True | False)  Valid
*   & => If both bits are 1 then only result is 1 otherwise 0.
*   | => If atleast one bits is 1 then result is 1 otherwise 0.
*   ^ => If bits are different then result is 1 otherwise is 0.
*   ~ => Bitwise Co,plelentary Operator (XOR)
*   << => Bitwise Left Shift
*   >> => Bitwise Right Shift

In [ ]:
a = 4
b = 5
print(a & b)
print(a|b)
print(a^b)      #(5-4) = 1
print(a<<2)     # (4  * 2^2) = 16
print(a>>2)     # (4 / 2^2) = 1

4
5
1
16
1

**7. Assignment Operator**

*   Used to assign value to variable. e.g. (x=10)
*   We can combine assignment operator with some other operator to form compound operator. (e.g. x+=10 --> x = x+10)
*   List of all possible assignment operator
1.+=    2.-=    3.*=    4./=    5.%=    6.//=    7.**=    8.&=    9.|=    10. ^=  11.>>=  12. <<=

**8. Ternary Operator or Conditional Operator**

1.   Syntax  x = First value if condition else second value.
2.   If condition is true the first value will be considered else second value will be considered.

In [ ]:
a,b =10,20
x =30 if a<b else 40
print(x)

30

In [ ]:
# Program for minimum 3 numbers
a = int(input("Enter First Number="))
b = int(input("Enter Second Number="))
c = int(input("Enter Third Number="))
min =a if a<b and a<c else b if b<c else c
print("Minimum value is:",min)

Enter First Number=10
Enter Second Number=20
Enter Third Number=2
Minimum value is: 2

In [ ]:
# Program for maximum of 3 numbers
a = int(input("Enter First Number:"))
b = int(input("Enter Second Number:"))
c = int(input("Enter Third Number:"))
Max = a if a>b and a>c else b if b>c else c
print("Maximum value is:",Max)

Enter First Number:23
Enter Second Number:35
Enter Third Number:49
Maximum value is: 49

**1. Identity Operator**

*   We can use identity operator for address comparison.
*   There are two identity operators. 1. is  2.  is not
*   r1 is r2 returns True if both r1 and r2 are pointing to same object.
*   r1 is not r2 returns True if both r1 and r2 are not pointing to same object.

In [ ]:
a =10
b =10
print(a is b)   # True because a and b has same value 10
print(id(a))
print(id(b))

True
11531200
11531200

In [ ]:
a =10
b =54
print(a is b)       # False because a and b has different vale.
print(a is not b)   # True because a and b has different values
print(id(a))
print(id(b))

False
True
11531200
11532608

**2. Membership Operators**

1.   We can use membership operators to check whether the given object is present in the given collection.(It may be String,List,Set,Tuple or Dictionary) 
2.   In --> Returns True if the given object present in the specified collection.
3.   not in --> Returns True if the given object not present in the specified collection.

In [ ]:
x = "Hello learning python is very easy!!!"
print('h' in x)
print('d' in x)
print('d' not in x)
print('ery' in x)
print("Hello" in x)

True
False
True
True
True

# **Math Module**

1.   A module is collection of functions,variables and classes 
2.   Math is module that contains several functions to perform mathematical operations.
3.   If we want to use any module in Python we have to import module,import math.
4.   Once we import a module then we can call any function of that module.
5.   1) Import math  2)print(math.sqrt(16)  3) print(math.pi)

In [ ]:
import math
print(math.sqrt(16))
print(math.pi)

4.0
3.141592653589793

In [ ]:
print(math.ceil(10.55))
print(math.floor(10.55))
print(math.pow(10,3))
print(math.factorial(5))
print(math.trunc(10.55))
print(math.gcd(10,20))
print(math.sin(10))
print(math.cos(10))
print(math.tan(20))

11
10
1000.0
120
10
10
-0.5440211108893698
-0.8390715290764524
2.237160944224742

In [ ]:
# Write program for area of circle
a = math.pi
m = int(input("Enter number:"))
b = m ** 2
c = a*b
print(c)

Enter number:1
3.141592653589793

In [ ]:
# eval() - This function take string and evaluate the result.
x = eval("10+20+30")
print(x)

60

**OUTPUT STATEMENTS** :
We can use print() function to display output.

In [ ]:
# We can use escape characters
print("Hello \n World")

Hello
 World

In [ ]:
# Print variable with number of arguments.
a,b,c = 10,20,30
print("The values are :",a,b,c)

The values are : 10 20 30

In [ ]:
# By default output values are separated by space. aif we want we can specify separator by using "(sep='  , ')" attribute.
a,b,c = 10,20,30
print("The values are:",a,b,c,sep=',')

The values are:,10,20,30

In [ ]:
# If we want output in the same line with space by using (end = ' ') attribute.
print("Happy", end=' ')
print("New", end=' ')
print("Year", end=' ')
print("2023")

Happy New Year 2023

In [ ]:
a,b,c = 10,20,30
print("a value is %i" %a)                         # %i = integer value  %d = integer value
print("b value is %d and c value is %d" %(b,c))

a value is 10
b value is 20 and c value is 30

In [ ]:
s = "student"
list1 = [10,20,30,40]
print("Hello %s, The list of items are %s"%(s,list1))   # %s = string value

Hello student, The list of items are [10, 20, 30, 40]

In [ ]:
# Write program in python to check if sequence is palindrome
a = input("Enter Sequence: " )
b = a[::-1]
if a == b:
  print ("palindrome")
else:
  print("Not palindrome")

Enter Sequence: madam
palindrome

# **Flow Control** -->  Used to decision making

Control Flow Statements 3 Types

1.   Conditional Statements - 1.if  2.if-else  3.if-elif-else
2.   Transfer statements - 1.break  2.continue 3.pass
3.   Iterative statements - 1.for  2.while

In [ ]:
name = input("Enter name: ")
if name == "Abhijeet":
  print("Hello %s"%name,)

Enter name: Abhijeet
Hello Abhijeet

In [ ]:
# Write a program to find biggest of given 2 numbers from command prompt.
n1 = int(input("Enter First Number: "))
n2 = int(input("Enter Second number: "))
if n1>n2:
  print("n1 is biggest number")
else:
  print("n2 is biggest number")

Enter First Number: 25
Enter Second number: 14
n1 is biggest number

In [ ]:
# Write program to check whether the given number is even or odd.
a = int(input("enter number: "))
if a!=0 and a % 2 ==0:
  print("a is even number")
else:
   if (a % 2) != 0:
     print("a is odd function")
   else:
     print("Good morninig")

enter number: 31
a is odd function

**2] Iterative Statements** --> We want ro excute a group of statements multiple times then we should go for iterative statements.

 Python supports two types of iterative statements 

**for loop**--> If we want to execute some action for every element in some sequence (it may be string or collection) then we should go for loop.
1. **Syntax -->**  for x in sequence:
2.  **Body -->** Where sequence can be string or any collection.Body will be executed for every element present in sequence.

In [ ]:
# To print characters present in the given string.
s = "Ramcharan"
for x in s: 
 print(x)

R
a
m
c
h
a
r
a
n

In [ ]:
#To print Hello 10 times
a = range(10)
b = list(a)
print(b)
for x in a:
  print("Hello")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
# To print odd number from 20 to 50
a = range(20,51)
for x in a:
 if (x%2!=0):
   print(x)

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
# To display numbers from 10 to 1 in descending order.
a = range(1,10)
for x in a:
  b= 10-x
  print(b)

9
8
7
6
5
4
3
2
1

In [ ]:
# To print sum of numbers present inside list
list1 = eval(input("Enterlist: "))
sum = 0
for x in list1:
  sum = sum + x
  print("The sum=",sum)

Enterlist: 1,2,3,4,5,6
The sum= 1
The sum= 3
The sum= 6
The sum= 10
The sum= 15
The sum= 21

**while loop** --> if we want to execute a group of statements iteratively until some condition become false, then we should go for while loop.

In [ ]:
# To print numbers from 0 to 10 by using while loop.
x =1
while x<=10:
  print(x)
  x = x+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# To display the sum of first n numbers
n = int(input("Enter number: "))
sum =0
i=1
while i<=n:
 sum= sum+i
 i = i+1
print("The sum of first",n,"numbers is:",sum)

Enter number: 0
The sum of first 0 numbers is: 0

**Nested loop -->** We can take loop inside another loop, which are also known as nested loop.

In [ ]:
for i in range(4):
  for j in range (4):
    print("i=",i,"j=",j)
  print()

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 0 j= 3

i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 1 j= 3

i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3

i= 3 j= 0
i= 3 j= 1
i= 3 j= 2
i= 3 j= 3

In [ ]:
# write the program to display *'s in right angled triangle form.
a = int(input("Enter rows: "))
for i in range(1,a+1):
  for j in range(1,i+1):
    print('*',end=' ')
  print()

Enter rows: 3
*
* *
* * *

**3] Transfer statements**

**1.   Break:** --> We can use break statement inside loops to break loop execution based on some condition.

In [ ]:
for i in range (10):
  if i==7:
    print("Processing is enough ..plz break")
    break
  print(i)

0
1
2
3
4
5
6
Processing is enough ..plz break
7
8
9

In [ ]:
cart = [10,20,600,60,70]
for item in cart:
  if item>500:
    print("To place this order insurance is required")
    break
  print(item)

10
20
To place this order insurance is required
600
60
70

**2] continue**--> We can use continue statement to skip current iteration and continue next iteration.

In [ ]:
# To print odd numbers in the range 0 to 9
a = range(10)
for x in a:
  if (x % 2)==0:
    continue
  print(x)

1
3
5
7
9

In [ ]:
cart = [10,20,500,700,50,60]
for item in cart:
  if item>=500:
    print("We cannot process this time:",item)
    continue
  print(item)

10
20
We cannot process this time: 500
We cannot process this time: 700
50
60

In [ ]:
numbers = [10,20,0,5,0,30]
for n in numbers:
  if n==0:
    print("Hey how we can divide with zero...just skipping")
    continue
  print("100/{}={}".format(n,100/n))

100/10=10.0
100/20=5.0
Hey how we can divide with zero...just skipping
100/5=20.0
Hey how we can divide with zero...just skipping
100/30=3.3333333333333335

# Loops with else blocks

*  Inside loop execution, if break statement not executed,then only else part will be executed.
*  'else' means loop without break.

In [ ]:
cart1 = [10,20,30,40,50]
for items in cart1:
  if items >=500:
    print("We can not process this order")
    break
  print(items)
else:
  print("Congrats ... all items processd successfully")

10
20
30
40
50
Congrats ... all items processd successfully

**3] Pass statement:->**

1.   Pass is keyword in python.
2.   In your programming  syntactically if block is required which won't do anything then we can define empty block with pass keyword.

*   It is an empty statement.
*   It is a null statement.
*   It will no do anything.
*   Sometime in the parent class we have to declare a function with empty body and child class responsible to provide proper information.Such type of empty body we can define by using pass keyword.

In [ ]:
for i in range(100):
  if i%9==0:
    print(i,end=' ')
  else:
    pass

0 9 18 27 36 45 54 63 72 81 90 99

# **String**

1.  Any sequence of character within single or double quotes.

In [ ]:
# Access of characters by using index
a="DATASCIENCE"
a[3]

'A'

In [ ]:
# Access of letter by using slice operator
a = "DATASCIENCE"
print(a[3:6])           # vaiable[first index:lastindex:step]
print(a[:])
print(a[2:4:3])
print(a[::-1])
print(len(a))           # len(variable) is inbuilt function

ASC
DATASCIENCE
T
ECNEICSATAD
11

In [ ]:
# Write a program to access each characters of string in forward and backward directionby using while loop.
s = "My name is abhijeet !!!"
n=len(s)
i=0
print("Forward Direction")
while i<n:
  print(s[i],end=' ')
  i=i+1
print()
print("Backward Direction")
i =-1
while i>= -n:
  print(s[i],end=' ')
  i=i-1

Forward Direction
M y   n a m e   i s   a b h i j e e t   ! ! !
Backward Direction
! ! !   t e e j i h b a   s i   e m a n   y M

**1]. find()** ---> Returns idex of first occurence of the given substring.If it is not available then we will get -1

In [ ]:
s ="data"
print(s.find("data"))
# Syntax:  s.find(substring,begin,end)
print(s.find("a",1,4))
print(s.find('a',2,4))

0
1
3

**2]. index()**---->
index() method is exactly same as find() method except that if the specified substring is not available then we get value error.

*   We get error if substring is not available.
*   s.index('m') ---> output is value error

In [ ]:
s="my name is abhijeet"
print(s.index('m'))

0

In [ ]:
#program to display all position of substring in a given main string

s = input("Enter string: ")
subs = input("Enter substring: ")
pos = -1
n = len(s)
while True:
  pos =s.find(subs,pos+1,n)
  if pos == -1:
    break
  print("Found at position",pos)
  flag = True
if flag == False:
    print("Not Found")

Enter string: asfsgsssagfsassa
Enter substring: s
Found at position 1
Found at position 3
Found at position 5
Found at position 6
Found at position 7
Found at position 11
Found at position 13
Found at position 14

**Count substring inthe given string**

1.   We can find the number of occurences of substring present in the given string by using **count( )** method.
2.  **s.count(substring)** => It will search through out string.
3.   **s.count(substring,begin index,end index)** => It will search from begin index to end-1 index.

In [ ]:
s = "abcdabcabcadda"
print(s.count('a'))
print(s.count('a',4,8))

5
2

**Replacing string with another string**

1.   **s.replace(old string,new string)**
2.   Inside s, every occurence of old string will be replaced with new string.

In [ ]:
s = "Learning python is very difficult"
s1 = s.replace('difficult','easy')
print(s1)

Learning python is very easy

**Splitting of strings** ==>

1.   We can split the given string according to specified separtor by using split() method.
2.   **Syntax : s.split(separator)**

In [ ]:
s = '02-01-2023'
l = s.split('-')
for x in l:
  print(x)

02
01
2023

**Joining of strings** ==> 

1.   **syntax: separator.join.(group of strings)**

In [ ]:
list1 = ["Data","Science","AI"]
print('-'.join(list1))

Data-Science-AI

**Changing case of string**

1.   **upper()** - To convert all characters to upper case.
2.   **lower()** - To convert all characters to lower case.
3.   **swapcase()** - Converting upper to lower and lower to upper.
4.   **title()** - To convert all characters to title case means first letter of every word in capital.
5.   **capitalize()** - only first characters will be converted to capital and remaining in lower case.

In [ ]:
s = 'learning Python is very Easy'
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.capitalize())

LEARNING PYTHON IS VERY EASY
learning python is very easy
LEARNING pYTHON IS VERY eASY
Learning Python Is Very Easy
Learning python is very easy

**To check type of characters present in string**

1.   **isalnum()** : Returns True if all characters are alphanumeric.
2.   **isalpha()** : Returns True if all characters are only alphabets.
3. **isdigit()** : Returns True if all characters are digits only(0-9).
4. **islower()** : Returns True if all characters are lower case letters.
5. **isupper()** : Returns True if all characters are in upper case alphabets.
6. **istitle()** : Returns True if string is in title case.
7. **isspace()** : Returns True if string contains only spaces.

In [ ]:
s ='Datascience786'
print(s.isalnum())
print('abc'.isalpha())
print('Abc'.islower())
print('ABC'.isupper())
print('Learning Is Funny Thing'.istitle())
print('Learns with fun'.isspace())

True
True
False
True
True
False

**Checking starting and Ending part of the string.**

1.   s.startswith(substring)
2.   s.endswith(substring)

In [ ]:
s = 'I am learning datascience'
print(s.startswith('I'))
print(s.endswith('nce'))

True
True

**Formatting the strings**

1.   We can format the strings with variable values by using **replacement operator { }** and **Format ( ) method.**

In [ ]:
name = 'rajesh'
salary = 10000
age = 31
print("{}'s salary is {} and his age is {}".format(name,salary,age))
print("{2}'s salary is {0} and his age is {1}".format(salary,age,name))
print("{y}'s salary is {z} and his age is {x}".format(z=salary,x=age,y=name))

rajesh's salary is 10000 and his age is 31
rajesh's salary is 10000 and his age is 31
rajesh's salary is 10000 and his age is 31

In [ ]:
# Write the program to reverse the given string.
s = input("Entersomething: ")
print(s[::-1])

s = "rajesh"
print(''.join(reversed(s)))

Entersomething: rajesh
hsejar
hsejar

In [ ]:
# Write program to reverse order of words.
s = input("Enter: ")
l = s.split()
l1 =[]
i = len(l)-1
while i>=0:
  l1.append(l[i])
  i = i-1
  output = ' '.join(l1)
  if i==-1:
    print(output)

Enter: laerning python is easy
easy is python laerning

In [ ]:
a = 'python'
i=0
l =len(a)
while i<l:
  i = i+1
print(a[i])

h